/*
Stylesheet für Responsive Design - Erste Schritte
Schritt 3
*/


/*---------------------
RESET
---------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 


nav.main-nav {
    display: none;
}


/* Mobile-first styles */
/*---------------------
LAYOUT
---------------------*/

h1,h2,h3,h4,h5,h6,p,figure {
    margin-bottom: 1em;
}

.container {
    padding: 1em 20px;
    max-width: 1200px;
    margin: 0 auto;
}



body {
    font-family: Arial, sans-serif;
}

nav.mobile-nav,
header {
    padding-top: 80px;
}

/*---------------------
NAVIGATION
---------------------*/

.burger-icon {
    width: 48px;
    height: 48px;
    padding: 4px;
}

.burger-icon div {
    height: 8px;
    background: #fff;
    margin-bottom:8px;
}

nav.burger-icon-container {
    position: fixed;
    top: 0;
    width: 100%;
}


nav.main-nav {
    position: sticky;
    top: 0;
}


nav.mobile-nav {
    min-height: 100vh;
}


nav a {
    text-decoration: none;
}

nav.mobile-nav .container a {
    font-size: 2em;
}

nav ul {
    list-style-type: none;
}


section {
    min-height: 34vh;
}


/*---------------------
COLOR & STYLE
---------------------*/

body {
    background-color: hsl(200,34%,13%);
    color: #fff;
}

a {
    color: #fff;
}

nav.main-nav,
header {
    background-color: hsl(200,34%,55%);
}

nav.burger-icon-container,
nav.main-nav {
    background-color: hsla(200,34%,55%,0.9);
}

main {
    background: #fff;
}


section {
    background-color: hsl(100,34%,55%);
}

section:nth-child(2) {
    background-color: hsl(300,34%,55%);
}

section:nth-child(3) {
    background-color: hsl(30,76%,55%);
}

section:nth-child(4) {
    background-color: hsl(250,34%,55%);
}




/*---------------------
RESPONSIVE
---------------------*/
/* Breakpoint at 580px */
@media (min-width: 580px) {

}

/* Breakpoint at 900px */
@media (min-width: 900px) {

    nav.main-nav {
        display: block;
    }

    nav.burger-icon-container,
    nav.mobile-nav {
        display: none;
    }

nav > .container > ul {
    display: flex;
    flex-wrap_ wrap;
    gap: 1em;
}

    nav a {
        font-size: 1em;
    }

}

/* Breakpoint at 1200px */
@media (min-width: 1200px) {

}